
.style-switcher {
position: fixed;
top: 10%;
left: 0;
background-color: var(--white-color);
width: 220px;
padding: 10px;
z-index: 100;
transform: translateX(-100%);
transition: 0.5s ease;
border-radius: 0 10px 10px 0;

}
.switcher-title,
.them-toggler,
.switcher-toggler {
    
color: black;
}
.switcher-title {
font-size: 20px;
font-weight: 700;
margin: 10px 0;

}


.title_close {
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid rgb(226, 226, 226);
}
.title_close svg {
    font-size: 20px;
cursor: pointer;


}
.switcher-items {
display: flex;
align-items: center;
gap: 10px;
margin: 10px 0;
}
.switcher-items .item {
width: 25px;
height: 25px;
border-radius: 50%;
border: 1px solid rgb(153, 153, 153);
cursor: pointer;
}
.switcher-toggler,
.them-toggler {
position: absolute;
left: 100%;
background-color: var(--white-color);
width: 40px;
height: 40px;
line-height: 40px;
text-align: center;
cursor: pointer;
border: 1px solid rgb(84, 83, 85);
border-radius: 5px;
font-size: 18px;
z-index: 1500;
}
.switcher-toggler {
    top: 8%;
}
.them-toggler {
    bottom: 8%;
}






